body{
	background-color: #ADD8E6;

}

img {
	width: 100px;
}

#titulo{
    border-radius: 10px 10px 10px 10px;
    moz-border-radius: 10px 10px 10px 10px;
    webkit-border-radius: 10px 10px 10px 10px;
    border: 3px solid #472ee8;
    padding-bottom: 30px;
   /** background-image: url("images/fondo1.png");**/
    background: url("images/fondo1.png") no-repeat center center fixed;


}

#titulo h1{
   
    text-align: center;
    webkit-box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.63);
    moz-box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.63);
    box-shadow: 6px 9px 16px 0px rgba(0,0,0,0.63);
    background-color: #4682B4;
    font-family: "Georgia", Times, serif;
}

#update{

    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 10px;
}

